body{
    font-family: 'Abel', sans-serif;
}

:root{
    --grey: #6c757d;
}

.container1{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 100px;
}

.withdraw-options{
    border-radius: 20px;
    padding: 10px;
    border-color: var(--grey);
}

label{
    font-weight: bold;
    font-size: 1.3rem;
}

.op1{
    margin-left: 40px;
    width: 300px;
    
}

.op2{
    margin-left: 30px;
    width: 276px;
    /* border: none; */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.balance{
    color: var(--grey);
    margin-left: 9.2rem;
}

.w-balance{
    margin-left: 9.2rem;
    font-weight: bold;
}

.w-i{
    margin-left: 9.2rem;
    color: var(--grey);
}

.withdraw-options:hover{
    background-color: orange;
}

.w-b{
    padding: 10px;
    width: 200px;
    text-align: center;
    border-radius: 20px;
    margin-left: 9.2rem;
    background-color: orange;
}

.container {
}

.select-box {
  display: flex;
  width: 300px;
  flex-direction: column;
  margin-left: 140px;
  margin-top: -30px;
  border-radius: 20px;
}

.select-box .options-container {
  background: #2f3640;
  color: #f5f6fa;
  max-height: 0;
  width: 100%;
  opacity: 0; 
  transition: all 0.4s;
  border-radius: 8px;
  overflow: hidden;
  order: 1;
}

.selected{
  background: orange;
  border-radius: 20px;
  margin-bottom: 8px;
  color: #f5f6fa;
  position: relative;

  order: 0;
}

.selected::after{
  content: "";
  background: url('./down-arrow.png');
  background-size: contain;
  background-repeat: no-repeat;

  position: absolute;
  height: 100%;
  width: 32px;
  right: 10px;
  top: 5px;

  transition: all 0.4s
}

.select-box .options-container.active{
  max-height: 240px ;
  opacity: 1;
  overflow-y: scroll;
}

.select-box .options-container.active + .selected::after {
  transform: rotateX(180deg);
  top: -6px;
}

.select-box .options-container::-webkit-scrollbar {
  width: 8px;
  background: #0d141f;
  border-radius: 0 8px 8px 0 ;  
}

.select-box .options-container::-webkit-scrollbar-thumb{
  background: #525861;
  border-radius: 0 8px 8px 0 ;  
}

.select-box .option, .selected{
  padding: 12px 24px;
  cursor: pointer;
}

.select-box .option:hover{
  background: #414b57;
}

.select-box label{
  cursor: pointer;
}

.select-box .option .radio{
  display: none;
}